<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>373898644060-glgamtb32fe1sg52lp5aj485j2ra516t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.373898644060-glgamtb32fe1sg52lp5aj485j2ra516t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>373898644060-d7kcs9j3ervfrtj675oiuee0ict67m0e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCpoKUXFfNuiZretTXI8u_OOknHkxyzToE</string>
	<key>GCM_SENDER_ID</key>
	<string>373898644060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wanbuffer.petmart</string>
	<key>PROJECT_ID</key>
	<string>petmart-392b1</string>
	<key>STORAGE_BUCKET</key>
	<string>petmart-392b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:373898644060:ios:0dfcfb57ae6a01138bf499</string>
</dict>
</plist>